.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: yellow;
}

.App-link {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    .app-container {
      transition: background-color red, color red;
    }
    
    .app-container.light {
      background-color: #ffffff;
      color: #000000;
    }
    
    .app-container.dark {
      background-color: #000000;
      color: #ffffff;
    }
    
    /* Additional styles for other components */
    
  }
  
}
